<Body>
    <br>
    <br>

    <h1 style="text-align: center;"><span style="color: rgb(204, 229, 245)">INGRESO DE ZAPATOS</span></h1>



    <div class="visorbanner">
        <div id="content">
            <br>



            <span class="ui-float-label">
                <input style="display: block; margin-left: auto; margin-right: auto;" id="float-input" type="text"
                    size="30" [(ngModel)]="shoes.shoesColor" pInputText>
                <label style="color:rgb(204, 229, 245)" for="float-input"> <strong>Color</strong> </label>
            </span>
            <h3 style="color: rgb(204, 229, 245); text-align: center;">Elija la marca </h3>

                        <p-dropdown [options]="zapatos" [(ngModel)]="shoes.shoesMarca" filter="true">
                            <ng-template let-item pTemplate="selectedItem">
                              
                                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                            </ng-template>
                            <ng-template let-shoes pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                
                                    <div style="font-size:14px;float:right;margin-top:4px">{{shoes.label}}</div>
                                </div>
                            </ng-template>

                        </p-dropdown>
            <br>
            <br>


            <span class="ui-float-label">
                <input style="display: block; margin-left: auto; margin-right: auto;" id="float-input" type="text"
                    size="30" [(ngModel)]="shoes.shoesModelo" pInputText>
                <label style="color: rgb(204, 229, 245)" for="float-input"> <strong>Modelo</strong></label>
            </span>
            <br>


            <span class="ui-float-label">
                <input style="display: block; margin-left: auto; margin-right: auto;" id="float-input" type="text"
                    size="30" [(ngModel)]="shoes.talla" pInputText>
                <label style="color: rgb(204, 229, 245)" for="float-input"> <strong>Talla</strong> </label>
            </span>


            <form>

                <div class="fileinputs">
                    <h3 style="display: block; margin-left: 125px; margin-right: auto;"><span
                            style="color: rgb(204, 229, 245)"><strong>Cargar imagen</strong></span></h3>
                    <br>
                    <input name="archivo" size="0px" (change)="onChange($event)" type="file" class="file" />
                    <br>
                    <br>
                    <div class="fakefile">
                        <br>
                        <br>
                        <img src="https://cdn.pixabay.com/photo/2017/06/13/12/52/upload-2398771_960_720.png" width="65"
                            height="65"
                            style="display: block; margin-left: 155px; margin-right: auto;color: #000000;" />

                    </div>
                </div>
                <h4 *ngIf="subiendo">Subiendo imagen {{archivo.name}}</h4>
                <br>
                <button type="button"
                    style="display: block; margin-left: 145px; margin-right: auto;color: rgb(204, 229, 245)" pButton
                    type="button" label="Comparar" label="Guardar" class="ui-button-rounded ui-button-secundary"
                    (click)="onClickSubir($event)"></button>
            </form>

        </div>
    </div>
</Body>