body {
    background-image: url(../../../assets/Imagenes/fondoshoes.jpg);
    width: 100%;
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content {
    overflow: auto;
    width: 150%;
    background: rgba(18, 1, 65, 0.986)y;
    align-content: center;
}

#content {
    overflow: auto;
    width: 100%;
    background: rgba(18, 1, 65, 0.986)y;
    align-content: center;
}

.visorbanner {
    overflow: hidden;
    position: relative;
    /*tambien puede ser absolute si se quiere*/
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    height: 480px;
    background-color: rgb(204, 229, 245);
}

.slide {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	opacity: 0;
	z-index: 2;
}