body {
    background-image: url(https://sites.google.com/site/copralomasbaratocom/_/rsrc/1416959704833/home/catalogo-de-calzado-para-hombres/tenis%20nike.jpg);
    background-size: 1100px 1950px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}