<body>
    <br>
    <br>
    <h1 style="text-align: center;">Catalogo de zapatos modernos NICE</h1>
    <p><span style="background-color: #ffffff; color: #993300;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://m.gifmania.com/Gif-Animados-Objetos/Imagenes-Ropa/Calzado/Calzado-Deportivo/Zapatillas-Nike-89222.gif" alt="Pisadas con confort e historia: zapatos deportivos ic&oacute;nicos | Moda ..." /></span></p>
    <br>
    <br>
    <br>
    <button pButton type="button" label="INICIAR SESION" style="display: block; margin-left: auto; margin-right: auto;" class="ui-button-success"></button>
    <br>
    <button pButton type="button" label="REGISTRAR" style="display: block; margin-left: auto; margin-right: auto;" class="ui-button-info"></button>
</body>