<!-- BODY PARA FONDO -->
<body>
    <br>
    <br>
    <!-- TITULO GENERAL -->
    <img style="display: block; margin-left: auto; margin-right: auto;" src="../../../assets/Imagenes/titulo.png">

    <!-- Gif de zapatos -->
    <p><span style="background-color: #000000; color: #993300;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://m.gifmania.com/Gif-Animados-Objetos/Imagenes-Ropa/Calzado/Calzado-Deportivo/Zapatillas-Nike-89222.gif" alt="Pisadas con confort e historia: zapatos deportivos ic&oacute;nicos | Moda ..." /></span></p>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>