body {
    background-image: url(../../../assets/Imagenes/aesthetic-pink-and-green-wallpaper-ios.jpg);
    background-size: 1100px 1950px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:host ::ng-deep button {
    margin-right: 0.25em;
}