body {
    background-image: url(../../../assets/Imagenes/aesthetic-pink-and-green-wallpaper-ios.jpg);
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
}