body {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s99f39f2610b1dca2/backgroundarea/ie8f0d218e47a5121/version/1551585086/image.jpg);
    background-size: 1100px 1950px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}