body {
    background-image: url(https://image.jimcdn.com/app/cms/image/transf/none/path/s99f39f2610b1dca2/backgroundarea/ie8f0d218e47a5121/version/1551585086/image.jpg);
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    height: 100%;
}