<body>
    <h1 style="text-align: center;"><span style="color: #ffffff;">Iniciar Sesion</span></h1>
    <div class="visorbanner">
        <div id="content">

            <div id="left">
                <h1 style="color: #ffffff;display: block; margin-left: 72px; margin-right: auto;">Ingrese con su Foto</h1>
                <div id="miCameraOnline">
                    <video #video id="video" width="250" height="200" autoplay class="center"></video>
                    <h2 style="text-align: center;"><span style="color: #ffffff;">Nombre de Usuario</span></h2>
                    <input style="display: block; margin-left: 112px; margin-right: auto;" type="text" id="fname" name="fname" [(ngModel)]="nombre">
                    <!-- Password -->
                    <h2 style="display: block; margin-left: 115px; margin-right: auto;"><span style="color: #ffffff;">Capturar rostro</span></h2>
                    <button (click)="capturar()" style="display: block; margin-left: 170px; margin-right: auto;" pButton type="button" label="📸" class="ui-button-rounded ui-button-warning"></button>
                    <br>
                    <button (click)="comparar()" style="display: block; margin-left: 145px; margin-right: auto;color: #000000;" pButton type="button" label="Comparar" class="ui-button-rounded ui-button-warning"></button>
                </div>
            </div>
            <div id="right1">
                <div>
                    <br>
                    <blockquote>
                        <h1 style="color: #ffffff;text-align: center;">Aqui visualizara su foto</h1>
                    </blockquote>
                    <canvas #canvas id="canvas" width="640" height="480" class="center"></canvas>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>