<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;"><span style="color: #ffffff;">Iniciar Sesion</span></h1>

    <img style="display: block; margin-left: auto; margin-right: auto;" width="150" height="130" src="https://images.vexels.com/media/users/3/136558/isolated/preview/43cc80b4c098e43a988c535eaba42c53-icono-de-usuario-de-la-persona-by-vexels.png">

    <br>
    <br>
    <br>
    <br>

    <div id="container">
        <form>
            <!-- Username -->
            <h2 style="text-align: center;"><span style="color: #ffffff;">Nombre de Usuario</span></h2>
            <input style="display: block; margin-left: auto; margin-right: auto;" type="name">
            <!-- Password -->
            <h2 style="text-align: center;"><span style="color: #ffffff;">Capturar rostro</span></h2>

            <button style="display: block; margin-left: auto; margin-right: auto;" pButton type="button" label="📸" class="ui-button-rounded ui-button-warning"></button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>
</body>