<body>
    <h1 style="text-align: center;"><span style="color: #ffffff;">Registrar Usuarios</span></h1>
    <div class="visorbanner">
        <div id="content">

            <div id="left">
                <h1 style="color: #ffffff;display: block; margin-left: 72px; margin-right: auto;">Ingrese con su Foto</h1>
                <div id="miCameraOnline">
                    <video #video id="video" width="300" height="240" autoplay class="center"></video>

                    <h2 style="text-align: center;"><span style="color: #000000;"><strong><span style="background-color: #ffcc99;">NOMBRE DE USUARIO</span></strong>
                        </span>
                    </h2>
                    <input style="margin-left: 112px; margin-right: auto;" type="text" pInputText pTooltip="Ingrese your username" placeholder="User Name" tooltipEvent="focus" [(ngModel)]="usuarios.nombre">


                    <h2 style="text-align: center;"><span style="color: #000000;"><strong><span style="background-color: #ffcc99;">CAPTURAR ROSTRO</span></strong>
                        </span>
                    </h2>

                    <button (click)="capturar()" style="display: block; margin-left: 175px; margin-right: auto;" pButton type="button" label="📸" class="ui-button-rounded ui-button-warning"></button>
                    <br>
                    <button (click)=" registrarUsuario($event)" style="display: block; margin-left: 155px; margin-right: auto;" pButton type="button" label="Registrar" class="ui-button-rounded ui-button-secundary"></button>
                    <br>
                </div>
            </div>

            <div id="right1">
                <div>
                    <br>
                    <br>
                    <blockquote>
                        <h1 style="color: #ffffff;text-align: center;">Aqui visualizara su foto</h1>
                    </blockquote>

                    <canvas #canvas id="canvas" width="640" height="480" class="center"></canvas>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
        <h1 style="text-align: center;"><span style="color: #008000;"><strong>PUEDE INGRESAR ESTE USUARIO</strong></span></h1>
        <button style="align-self: center;" pButton pRipple type="button" label="Guardar" (click)="onClickSubir1($event)" class="ui-button-rounded ui-button-success"></button>

    </p-sidebar>

</body>